
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
@layer components {
  .diaglogBox .ant-modal-content {
    @apply font-spaceGrotesk p-0 rounded-[1.25rem];
  }
  .custom-radio-buttons .ant-radio-wrapper {
    @apply font-spaceGrotesk;
  }
}
@layer components {
  .gold-border {
    background: linear-gradient(to right, #F4AA26, #FFE36D);
  }
  .silver-border {
    background: linear-gradient(to right, #797783, #A1A0A5);
  }
  .bronze-border {
    background: linear-gradient(to right, #C17526, #F2B575);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;
}
}